# MONGODB_HOST=face-recognitiion-microservice-mongodb-1   # for docker compose
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USER=admin
MONGODB_PASSWORD=admin
MONGODB_DB=face-recognition
SECRET_KEY=XzkImOWZLClfejoSNQV1LUhZa7IVS3DH